<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('fairy_home_banner.jpeg') %>);">
  <div class="container">
    <h1>DAILY FAIRIES</h1>
    <h2><strong>Magical creatures</strong> for <strong>cheap people</strong>!</h2>
    <p>Change your life with magic by renting one of our fairies from around the universe.</p>
    <%= link_to "VIEW FAIRIES ðŸ§šðŸ¼", fairies_path, class:  "btn btn-flat", id: "view_fairies"  %>
  </div>
</div>

<%= simple_form_for :search, url: fairies_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Tell us your wish..." />
    <button name="button" type="submit" class="btn btn-flat" id="search_bar">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<h2 class="world-class-fairies"><strong>Find your muse</strong></h2>
<div class="cards">
  <% @fairies.each do |fairy|  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path fairy.photo.key %>)">
       <div class="fairy-card-actions">

            <%= link_to fairy.name, fairy_path(fairy) %>

          </div>
      <%# cloudinary_url("sample.jpg", :resource_type => :raw)  %>
      <%# <%= cl_image_tag fairy.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  <% end  %>
</div>




<div class="container">
    <%= link_to "VIEW AVAILABLE FAIRIES ðŸ§šðŸ¼", fairies_path, class:  "btn btn-flat", id: "avail_fairies"  %>
</div>

