<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Fairies</h1>
    </div>
  </div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="list-group mb-3">
        <% @fairies.each do |fairy| %>
          <li class="list-group-item">
            <%= cl_image_tag fairy.photo.key, height: 300, width: 400, crop: :fill %>
            <%= link_to fairy.name, fairy_path(fairy) %>
          </li>
        <% end %>
      </ul>
      <p><%= link_to "Add a new fairy", new_fairy_path %></p>
      <%= link_to "Back", root_path %>

    </div>
  </div>
</div> -->

  <div class="row">
    <% @fairies.each do |fairy| %>
      <div class="col-md-4">
        <div class="fairy-card">
          <%= cl_image_tag fairy.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="fairy-card-content">
            <div class="fairy-card-title">
              <h4><%= fairy.name %></h4>
            </div>
            <p><%= fairy.description %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons me-2">🧚🏼</i><span>€<%= fairy.price %></span>
              </div>
              <div class="flex ms-3">
                <i class="material-icons me-2"><strong>Power:</strong> <%= fairy.super_power %></i>
              </div>
            </div>
          </div>
          <div class="fairy-card-actions">
            <%= link_to "VIEW FAIRY", fairy_path(fairy) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
