<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <h3>Edit Fairy</h3>
      <%= simple_form_for (@fairy) do |f| %>
        <%= f.input :name %>
        <%= f.input :super_power %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
        <%= link_to 'Back', fairies_path %>
      <% end %>
    </div>
  </div>
</div>
