<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sam-offset-1">
      <h1><%= @fairies.name %></h1>

      <p><%= @fairies.description %></p>
      <%= @fairies.super_power %>
      <p></p><%= @fairies.price %>
    </div>
  </div>
</div>

<%= link_to "Book now", booking_path %>
